<app-base-page pageName="Places">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-list-header>
            <h1>Favorite places</h1>
        </ion-list-header>
        <ion-item *ngFor="let item of places" [routerLink]="'/places/detail/'+item.id">
            <ion-label>
                <h2>{{item.name}}</h2>
                <p>{{item.address}}</p>
            </ion-label>
            <ion-icon slot="end" name="heart" [color]="item.like === 1 ? 'danger' : undefined"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/places/create">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</app-base-page>