<app-base-page pageName="Beloved Places">
    <ion-card>
        <img src="assets/Ionic.png" />
        <ion-card-header>
            <ion-card-subtitle>What is Ionic?</ion-card-subtitle>
            <ion-card-title>Ionic Framework</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.
        </ion-card-content>
    </ion-card>
</app-base-page>