<app-base-page pageName="Beloved Places">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-title size="large">Places <b>5</b></ion-title>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-title size="large">People <b>5</b></ion-title>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-title size="large">Animals <b>5</b></ion-title>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-title size="large">Plants <b>5</b></ion-title>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-title size="large">Meals <b>5</b></ion-title>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</app-base-page>