<ion-list id="inbox-list">
    <ion-list-header>Beloved Places</ion-list-header>
    <ion-note>{{userName}}</ion-note>

    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
</ion-list>

<ion-list>
    <ion-item routerDirection="root" [routerLink]="'/settings'" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [ios]="'cog-outline'" [md]="'cog-sharp'"></ion-icon>
        <ion-label>Settings</ion-label>
    </ion-item>
</ion-list>